* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a{
    display: block;
}
html {
    -ms-touch-action: none;
}

body {
    font-family: ubuntu, helvetica, arial;
    overflow: hidden; /* this is important to prevent the whole page to bounce */
}

#header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    padding: 0;
    overflow: hidden;
}
#header img{
    width: 100%;
}
/*ar体验 定制*/
.cll-nav{
    margin-top: 0.12rem;
    width: 100%;
    height: 1rem;
}
.cll-nav li{
    width: 50%;
    height: 100%;
    float: left;
}
.cll-nav li a{
    width: 100%;
    height: 100%;
}
.cll-nav li a img{
    width: 3.5rem;
    height: 0.98rem;
}
.cll-nav li a.ar img{
    float: right;
}
.cll-nav li a.dingzhi img{
    float: left;
}
/*灯具*/
.cll-section{
    width: 100%;
    padding: 0 0.24rem;
    margin-top:0.4rem;
}
.cll-section .cll-title{
    width: 100%;
    height: 0.64rem;
}
.cll-section .cll-title img{
    float: left;
    width: 5.4rem;
}
.cll-section .cll-title a img{
    float: right;
    width: 0.4rem;
    height: 0.4rem;
}
.cll-section .cll-content{
    width: 100%;
    height: 3.6rem;
    display: flex;
    justify-content: space-between;
}
.cll-section .cll-content a{
    display: block;
    width: 2.3rem;
    height: 100%;
    background-image: url("../../img/cll_19.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom left;
}
.cll-section .cll-content a img{
    width: 1.8rem;
    margin-left: 0.26rem;
    margin-top: 0.24rem;
}
.cll-section .cll-content a p{
    text-align: center;
}
.cll-section .cll-content a p.ptitle{
    font-family: "苹方 粗体";
    font-size: 0.24rem;
    margin-top: 0.24rem;
}
.cll-section .cll-content a p.penglish{
    font-family: "San Francisco Display";
    font-size: 0.22rem;
}
/*家饰*/
.cll-section .home a{
    background-image: url("../../img/cll_25.png");
}
.cll-section .home a p{
    text-align: center;
}
.cll-section .home a p.htitle{
    font-family: "苹方 粗体";
    font-size: 0.24rem;
    margin-top: 0.1rem;
}
.cll-section .home a p.henglish{
    font-family: "San Francisco Display";
    font-size: 0.22rem;
    margin-top: 0.08rem;
}
/*沙发*/
.cll-section .sofa a{
    background-image: url("../../img/cll_31.png");
}
.cll-section .sofa a img{
    margin-top: 0.3rem;
}
.cll-section .sofa a p.stitle{
    margin-top: 0.26rem;
}
/*床*/
.cll-section .cll-bed{
    width: 100%;
    height: 3.04rem;
    display: flex;
    justify-content: space-between;
}
.cll-section .cll-bed a{
    width: 3.45rem;
    height: 100%;
    display: block;
    background-image: url("../../img/newbg_03.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom left;
}
.cll-section .cll-bed a img{
    width: 3.12rem;
    margin-left: 0.16rem;
    margin-top: 0.1rem;
}
.cll-section .cll-bed a p{
    margin-left: 0.1rem;
}
.cll-section .cll-bed a p.btitle{
    font-family: "苹方 粗体";
    font-size: 0.24rem;
    margin-top: -0.06rem;
}
.cll-section .cll-bed a p.benglish{
    font-family: "San Francisco Display";
    font-size: 0.22rem;
}
/*茶几*/
.cll-section .cll-tea{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cll-section .cll-tea a{
    width: 100%;
    height: 3.67rem;
    display: block;
    background-image: url("../../img/cll_43.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom left;
    margin-bottom: 0.12rem;
}
.cll-section .cll-tea a img{
    width: 6.82rem;
    margin-left: 0.16rem;
    margin-top: 0.1rem;
}
.cll-section .cll-tea a p{
    margin-left: 0.1rem;
    text-align: center;
}
.cll-section .cll-tea a p.btitle{
    font-family: "苹方 粗体";
    font-size: 0.24rem;
    margin-top: -0.06rem;
}
.cll-section .cll-tea a p.benglish{
    font-family: "San Francisco Display";
    font-size: 0.22rem;
}





/*底部*/
#footer {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background: #444;
    padding: 0;
    background-image: url("../../img/buttom_03.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
}
#footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}
#footer a img{
    width: 0.58rem;
    height: 0.58rem;
}
#footer a.cll-active{
    display: block;
    font-size: 0.22rem;
    text-align: center;
    position: relative;
}
#footer a.cll-active img{
    position: absolute;
    top: -0.1rem;
    left:0.54rem;
}
#footer a.cll-active span{
    color: #fff;
    display: block;
    position: absolute;
    bottom: 0.2rem;
    left: 0.44rem;
}

#wrapper {
    position: absolute;
    z-index: 1;
    top: 1rem;
    bottom: 1rem;
    left: 0;
    width: 100%;
    background: #ececec;
    overflow: hidden;
}

#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}