* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a{
    display: block;
}
html {
    -ms-touch-action: none;
}

body {
    font-family: ubuntu, helvetica, arial;
    overflow: hidden; /* this is important to prevent the whole page to bounce */
}

#header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    padding: 0;
    overflow: hidden;
}
#header img{
    width: 100%;
}
/*导航*/
.nav{
    width: 100%;
    height: 1rem;
    margin-top:0.12rem;
}
.nav a{
    height: 100%;
    float: left;
}
.nav a.one{
    width:2.58rem;
}
.nav a.two{
    width: 2.33rem;
}
.nav a.three{
    width: 2.58rem;
}
.nav a img{
    width: 100%;
    height: 100%;
}
/*灯具*/
.section {
    width: 100%;
    /*margin-top: 0.4rem;*/
}
.section .title{
    width: 100%;
}
.section .title img{
    width: 100%;
}
.light .con{
    width: 100%;
    height: 3.6rem;
    padding: 0 0.24rem;
    display: flex;
    justify-content: space-between;
}
.light .con a{
    width: 2.26rem;
    height: 100%;
    background-image:url("../../img/class_15.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom left;
    position: relative;
    padding: 0 0.14rem;
}
.light .con a img{
    float: left;
    /*margin-left: 0.14rem;*/
    /*margin-right: 0.1rem;*/
    width:1.88rem;
}
.light .con a .pc{
    font-size: 0.24rem;
    font-family: "苹方 粗体";
    color: #6b6b6b;
    float: left;
    margin-top: 0.1rem;
    /*height:2.2rem;*/
}
.light .con a .pe{
    float: left;
    font-size: 0.22rem;
    font-family: "San Francisco Display";
    color: #ababab;
}
.light .con a span{
    float: left;
    font-size: 0.2rem;
    color: #9a9a9a;
}
.light .con a .nub1{
    margin-left: 0.3rem;
    margin-top: 0.17rem;
}
.light .con a .nub2{
    margin-left:0.33rem ;
    margin-top: 0.17rem;
}

/*家饰*/
.home .con{
    width: 100%;
    height: 3.6rem;
    padding: 0 0.24rem;
    display: flex;
    justify-content: space-between;
}
.home .con a{
    width: 3.46rem;
    height: 100%;
    background-image:url("../../img/class_26.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom left;
    position: relative;
    /*padding: 0 0.14rem;*/
}
.home .con a img{
    width: 100%;
}
.home .con a .pc{
    font-size: 0.24rem;
    font-family: "苹方 粗体";
    color: #6b6b6b;
    float: left;
    margin-top: -0.18rem;
    width: 100%;
    margin-left: 0.12rem;
}
.home .con a .pe{
    float: left;
    width: 100%;
    font-size: 0.22rem;
    font-family: "San Francisco Display";
    color: #ababab;
    margin-left: 0.12rem;
    margin-bottom: 0.1rem;
}
.home .con a span{
    float: left;
    font-size: 0.22rem;
    color: #9a9a9a;
    margin-left: 0.12rem;
}
.home .con a span img{
    float: left;
    width: 0.24rem;
    margin-right: 0.1rem;
}
/*收纳*/

.accept .con{
    width: 100%;
    padding: 0 0.24rem;
}
.accept .con a{
    width: 100%;
    height: 4.2rem;
    background-image:url("../../img/clas_03.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom left;
    position: relative;
    margin-bottom: 0.1rem;
    /*padding: 0 0.14rem;*/
}
.accept .con a img{
    width: 100%;
}
.accept .con a .pc{
    font-size: 0.24rem;
    font-family: "苹方 粗体";
    color: #6b6b6b;
    float: left;
    margin-top: -0.18rem;
    width: 100%;
    margin-left: 0.12rem;
}
.accept .con a .pe{
    float: left;
    width: 100%;
    font-size: 0.22rem;
    font-family: "San Francisco Display";
    color: #ababab;
    margin-left: 0.12rem;
    margin-bottom: 0.1rem;
}
.accept .con a span{
    float: left;
    font-size: 0.22rem;
    color: #9a9a9a;
    margin-left: 0.12rem;
    margin-right: 0.6rem;
}
.accept .con a span img{
    float: left;
    width: 0.24rem;
    margin-right: 0.1rem;
}
.accept .con a .xin{
    position: absolute;
    right: 0.42rem;
    bottom:1.03rem;
    width: 0.7rem;
}
.accept .con a .ren{
    position: absolute;
    right: 0.8rem;
    bottom: 0.37rem;
    width: 0.94rem;
}
.accept .con a .num{
    margin: 0;
    position: absolute;
    right: 0.4rem;
    bottom: 0.37rem;
    width: 0.34rem;
    height: 0.34rem;
    border-radius:50% ;
    background:#2c2c2c ;
    color:#fff;
    font-size:0.22rem;
    text-align: center;
    vertical-align: middle;
    font-family: "San Francisco Display";
}
/*时尚生活*/
.fashion .con{
    width: 100%;
    height: 3.48rem;
    padding: 0 0.24rem;
    overflow: hidden;
    margin-bottom: 0.2rem;
}
.fashion .con a{
    width: 2.43rem;
    height: 100%;
    background: #fff;
}
.fashion .con a img{
    width: 100%;
}
.fashion .con a .pc{
    font-size: 0.24rem;
    font-family: "苹方 粗体";
    color: #6b6b6b;
    float: left;
    margin-top: -0.18rem;
    width: 100%;
    margin-left: 0.12rem;
}
.fashion .con a .pe{
    float: left;
    width: 100%;
    font-size: 0.22rem;
    font-family: "San Francisco Display";
    color: #ababab;
    margin-left: 0.12rem;
}
.fashion .con a span{
    float: left;
    font-size: 0.22rem;
    color: #9a9a9a;
    margin-left: 0.12rem;
}
.fashion .con a span img{
    float: left;
    width: 0.24rem;
    margin-right: 0.1rem;
}


    /*底部*/
#footer {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background: #444;
    padding: 0;
    background-image: url("../../img/buttom_03.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
}
#footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}
#footer a img{
    width: 0.58rem;
    height: 0.58rem;
}
#footer a.cll-active{
    display: block;
    font-size: 0.22rem;
    text-align: center;
    position: relative;
}
#footer a.cll-active img{
    position: absolute;
    top: -0.1rem;
    left:0.67rem;
}
#footer a.cll-active span{
    color: #fff;
    display: block;
    position: absolute;
    bottom: 0.2rem;
    left: 0.7rem;
}

#wrapper {
    position: absolute;
    z-index: 1;
    top: 1rem;
    bottom: 1rem;
    left: 0;
    width: 100%;
    background: #ececec;
    overflow: hidden;
}

#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}