body,ul,li,ol,h1,h2,h3,h4,h5,h6,p,pre,input,form,dl,dt,dd{
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
img{
    border: 0;
}

body{
    -webkit-user-select:none;
    -webkit-text-size-adjust:100%;
    -webkit-overflow-scrolling:touch;
}
*{
    box-sizing: border-box;
    font-family: "helvetica";
    max-height:9999999px;
}
