<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="x5-orientation" content="portrait | landscape" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true" />
    <meta name="full-screen" content="yes">
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>分类</title>
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/index/cll-classify.css">
    <script src="../../static/js/rem.js"></script>
    <script src="../../static/js/iscroll.js"></script>
    <script>
        var myScroll;
        function loaded () {
            myScroll = new IScroll('#wrapper');
        }
    </script>
</head>
<body onload="loaded()">
    <div id="header">
        <img src="../../static/img/cll_03.png" alt="">
    </div>

    <div id="wrapper">
        <div id="scroller">
        </div>
    </div>


    <div id="footer">
        <a href="">
            <img src="../../static/img/but_09.png" alt="">
        </a>
        <a href="" class="cll-active">
            <img src="../../static/img/but_12.png" alt="">
            <span>分类</span>
        </a>
        <a href="">
            <img src="../../static/img/but_03.png" alt="">
        </a>
        <a href="">
            <img src="../../static/img/but_06.png" alt="">
        </a>
    </div>

</body>
</html>