<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="x5-orientation" content="portrait | landscape" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true" />
    <meta name="full-screen" content="yes">
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>订制设计</title>
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/index/cll-custom.css">
    <script src="../../static/js/rem.js"></script>
    <script src="../../static/js/iscroll.js"></script>
    <script>
        var myScroll;
        function loaded () {
            myScroll = new IScroll('#wrapper');
        }
    </script>
</head>
<body onload="loaded()">
    <div id="header">
        <img src="../../static/img/cll_03.png" alt="">
    </div>

    <div id="wrapper">
        <div id="scroller">
            <!--ar体验 定制-->
            <ul class="cll-nav">
               <li>
                   <a href="" class="ar">
                       <img src="../../static/img/cll_07.png" alt="">
                   </a>
               </li>
                <li>
                    <a href="" class="dingzhi">
                        <img src="../../static/img/cll_09.png" alt="">
                    </a>
                </li>
            </ul>
            <!--灯具-->
            <div class="cll-section">
                <!--标题-->
                <div class="cll-title">
                    <img src="../../static/img/cll_12.png" alt="">
                    <a href="">
                        <img src="../../static/img/cll_14.png" alt="">
                    </a>
                </div>
                <!--内容-->
                <div class="cll-content">
                    <a href="cll-ar.html">
                        <img src="../../static/img/jiaju_03.png" alt="">
                        <p class="ptitle">欧美风灯饰</p>
                        <p class="penglish">CUROC AND UNITCD STATESI AMP</p>
                    </a>
                    <a href="cll-ar.html">
                        <img src="../../static/img/jiaju_03.png" alt="">
                        <p class="ptitle">欧美风灯饰</p>
                        <p class="penglish">CUROC AND UNITCD STATESI AMP</p>
                    </a>
                    <a href="cll-ar.html">
                        <img src="../../static/img/jiaju_03.png" alt="">
                        <p class="ptitle">欧美风灯饰</p>
                        <p class="penglish">CUROC AND UNITCD STATESI AMP</p>
                    </a>
                </div>
            </div>

            <!--家饰-->
            <div class="cll-section">
                <!--标题-->
                <div class="cll-title">
                    <img src="../../static/img/cll_22.png" alt="">
                    <a href="">
                        <img src="../../static/img/cll_14.png" alt="">
                    </a>
                </div>
                <!--内容-->
                <div class="cll-content home">
                    <a href="cll-ar.html">
                        <img src="../../static/img/jiashi_03.png" alt="">
                        <p class="htitle">蓝玉</p>
                        <p class="henglish">CUROC AND UNITCD STATESI AMP</p>
                    </a>
                    <a href="cll-ar.html">
                        <img src="../../static/img/jiashi_03.png" alt="">
                        <p class="htitle">蓝玉</p>
                        <p class="henglish">CUROC AND UNITCD STATESI AMP</p>
                    </a>
                    <a href="cll-ar.html">
                        <img src="../../static/img/jiashi_03.png" alt="">
                        <p class="htitle">蓝玉</p>
                        <p class="henglish">CUROC AND UNITCD STATESI AMP</p>
                    </a>
                </div>
            </div>

            <!--沙发-->
            <div class="cll-section">
                <!--标题-->
                <div class="cll-title">
                    <img src="../../static/img/cll_28.png" alt="">
                    <a href="">
                        <img src="../../static/img/cll_14.png" alt="">
                    </a>
                </div>
                <!--内容-->
                <div class="cll-content sofa">
                    <a href="">
                        <img src="../../static/img/sofa_03.png" alt="">
                        <p class="ptitle stitle">欧美风灯饰</p>
                        <p class="penglish">CUROC AND UNITCD STATESI AMP</p>
                    </a>
                    <a href="">
                        <img src="../../static/img/sofa_03.png" alt="">
                        <p class="ptitle stitle">欧美风灯饰</p>
                        <p class="penglish">CUROC AND UNITCD STATESI AMP</p>
                    </a>
                    <a href="">
                        <img src="../../static/img/sofa_03.png" alt="">
                        <p class="ptitle stitle">欧美风灯饰</p>
                        <p class="penglish">CUROC AND UNITCD STATESI AMP</p>
                    </a>

                </div>
            </div>

            <!--床-->
            <div class="cll-section">
                <!--标题-->
                <div class="cll-title">
                    <img src="../../static/img/cll_34.png" alt="">
                    <a href="">
                        <img src="../../static/img/cll_14.png" alt="">
                    </a>
                </div>
                <!--内容-->
                <div class="cll-bed">
                    <a href="">
                        <img src="../../static/img/bed_03.png" alt="">
                        <p class="btitle">欧美风灯饰</p>
                        <p class="benglish">CUROC AND UNITCD</p>
                    </a>
                    <a href="">
                        <img src="../../static/img/bed_03.png" alt="">
                        <p class="btitle">欧美风灯饰</p>
                        <p class="benglish">CUROC AND UNITCD</p>
                    </a>
                </div>
            </div>

            <!--茶几-->
            <div class="cll-section">
                <!--标题-->
                <div class="cll-title">
                    <img src="../../static/img/cll_40.png" alt="">
                    <a href="">
                        <img src="../../static/img/cll_14.png" alt="">
                    </a>
                </div>
                <!--内容-->
                <div class="cll-tea">
                    <a href="">
                        <img src="../../static/img/tea_03.png" alt="">
                        <p class="btitle">简约风茶几</p>
                        <p class="benglish">CUROC AND UNITCD STATESI AMP</p>
                    </a>
                    <a href="">
                        <img src="../../static/img/tea_03.png" alt="">
                        <p class="btitle">简约风茶几</p>
                        <p class="benglish">CUROC AND UNITCD STATESI AMP</p>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div id="footer">
        <a href="index.php">
            <img src="../../static/img/but_09.png" alt="">
        </a>
        <a href="index.php?m=index&f=classify">
            <img src="../../static/img/but_12.png" alt="">
        </a>
        <a href="index.php?m=index&f=custom" class="cll-active">
            <img src="../../static/img/but_03.png" alt="">
            <span>定制设计</span>
        </a>
        <a href="index.php?m=index&f=personal">
            <img src="../../static/img/but_06.png" alt="">
        </a>
    </div>
</body>
</html>