<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="x5-orientation" content="portrait | landscape" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true" />
    <meta name="full-screen" content="yes">
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>分类</title>
    <link rel="stylesheet" href="{CSS_PATH}common.css">
    <link rel="stylesheet" href="{CSS_PATH}index/cll-classify.css">
    <script src="{JS_PATH}rem.js"></script>
    <script src="{JS_PATH}iscroll.js"></script>
    <script src="{JS_PATH}jquery.js"></script>
    <script src="{JS_PATH}touch.min.js"></script>
    <script src="{JS_PATH}cll-classify.js"></script>
    <script>
        var myScroll;
        function loaded () {
            myScroll = new IScroll('#wrapper');
        }
    </script>
</head>
<body onload="loaded()">
    <div id="header">
        <img src="{IMG_PATH}class_03.png" alt="">
    </div>

    <div id="wrapper">
        <div id="scroller">
            <!--导航-->
            <div class="nav">
                <a href="" class="one">
                    <img src="{IMG_PATH}class_07.png" alt="">
                </a>
                <a href="" class="two">
                    <img src="{IMG_PATH}class_08.png" alt="">
                </a>
                <a href="" class="three">
                    <img src="{IMG_PATH}class_09.png" alt="">
                </a>
            </div>
            <!--灯具-->
            <div class="section light">
                <!--标题-->
                <div class="title">
                    <img src="{IMG_PATH}class_12.png" alt="">
                </div>
                <!--内容-->
                <div class="con">
                    {foreach $light as $v}
                    <a href="index.php?m=index&f=goods&lid={$v['lid']}">
                        <img src="{$v['imgurl']}" alt="">
                        <p class="pc">{$v['cname']}</p>
                        <p class="pe">{$v['ename']}</p>
                        <span><img src="{IMG_PATH}classnew_06.png" alt="">{$v['price']}</span>
                        <span><img src="{IMG_PATH}classnew_10.png" alt="">2999</span>
                    </a>
                    {/foreach}
                </div>
            </div>

            <!--家饰-->
            <div class="section home">
                <!--标题-->
                <div class="title">
                    <img src="{IMG_PATH}class_22.png" alt="">
                </div>
                <!--内容-->
                <div class="con">
                    {foreach $home as $v}
                    <a href="index.php?m=index&f=goods&lid={$v['lid']}">
                        <img src="{$v['imgurl']}" alt="">
                        <p class="pc">{$v['cname']}</p>
                        <p class="pe">{$v['ename']}</p>
                        <span><img src="{IMG_PATH}H-s12.png" alt="">1990</span>
                        <span><img src="{IMG_PATH}H-s13.png" alt="">2999</span>
                        <span><img src="{IMG_PATH}H-s14.png" alt="">3999</span>
                    </a>
                    {/foreach}
                </div>
            </div>

            <!--收纳-->
            <div class="section accept">
                <!--标题-->
                <div class="title">
                    <img src="{IMG_PATH}class_32.png" alt="">
                </div>
                <!--内容-->
                <div class="con">
                    {foreach $accept as $v}
                    <a href="index.php?m=index&f=goods&lid={$v['lid']}">
                        <img src="{$v['imgurl']}" alt="">
                        <p class="pc">{$v['cname']}</p>
                        <p class="pe">{$v['ename']}</p>
                        <span><img src="{IMG_PATH}H-s12.png" alt="">1990</span>
                        <span><img src="{IMG_PATH}H-s13.png" alt="">2999</span>
                        <span><img src="{IMG_PATH}H-s14.png" alt="">3999</span>

                        <img src="{IMG_PATH}classnew_27.png" alt="" class="xin">
                        <img src="{IMG_PATH}class_40.png" alt="" class="ren">
                        <span class="num">{$v['amount']}</span>
                    </a>
                    {/foreach}
                </div>
            </div>
            <!--时尚生活-->
            <div class="section fashion">
                <!--标题-->
                <div class="title">
                    <img src="{IMG_PATH}class_51.png" alt="">
                </div>
                <!--内容-->
                <div class="con">
                    {foreach $fashion as $v}
                    <a href="index.php?m=index&f=goods&lid={$v['lid']}" class="pos{$i} pos">
                        <img src="{$v['imgurl']}" alt="">
                        <p class="pc">{$v['cname']}</p>
                        <p class="pe">{$v['ename']}</p>
                        <span><img src="{IMG_PATH}H-s12.png" alt="">2435</span>
                        <span><img src="{IMG_PATH}H-s14.png" alt="">2435</span>
                    </a>
                    {$i++}
                    {/foreach}
                </div>
            </div>


        </div>
    </div>


    <div id="footer">
        <a href="index.php">
            <img src="{IMG_PATH}but_09.png" alt="">
        </a>
        <a href="index.php?m=index&f=classify" class="cll-active">
            <img src="{IMG_PATH}but_12.png" alt="">
            <span>分类</span>
        </a>
        <a href="index.php?m=index&f=custom">
            <img src="{IMG_PATH}but_03.png" alt="">
        </a>
        <a href="index.php?m=index&f=personal">
            <img src="{IMG_PATH}but_06.png" alt="">
        </a>
    </div>

</body>
</html>