<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="x5-orientation" content="portrait | landscape" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true" />
    <meta name="full-screen" content="yes">
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>AR</title>
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/index/cll-ar.css">
    <script src="../../static/js/rem.js"></script>
    <script src="../../static/js/iscroll.js"></script>
    <script src="../../static/js/jquery.js"></script>
    <script src="../../static/js/hammer.js"></script>
    <script src="../../static/js/cll-ar.js"></script>
</head>
<body>
    <div id="header">
        <a href="">
            <img src="../../static/img/H-back.png" alt="">
        </a>
    </div>
    <div class="content">
        <!--拖-->
        <img src="../../static/img/ard_03.png" alt="" class="goods" id="move-box">
        <!--加-->
        <img src="../../static/img/ar_05.png" alt="" class="jia">
        <!--减-->
        <img src="../../static/img/ar_11.png" alt="" class="jie">
        <!--图列表-->
        <div class="tu">
            <div class="imgbox">
                <span class="active">
                    <img src="../../static/img/imgactive_03.png" alt="">
                </span>
                <img src="../../static/img/ard_03.png" alt="">
            </div>
            <div class="imgbox imgactive">
                <span class="active">
                    <img src="../../static/img/imgactive_03.png" alt="">
                </span>
                <img src="../../static/img/ard_03.png" alt="">
            </div>
            <div class="imgbox">
                <span class="active">
                    <img src="../../static/img/imgactive_03.png" alt="">
                </span>
                <img src="../../static/img/ard_03.png" alt="">
            </div>
            <div class="imgbox">
                <span class="active">
                    <img src="../../static/img/imgactive_03.png" alt="">
                </span>
                <img src="../../static/img/ard_03.png" alt="">
            </div>
        </div>

    </div>
    <div id="footer">
        <div class="left">
        </div>
        <a href="cll-goods.html">
            <img src="../../static/img/ar_09.png" alt="">
        </a>
    </div>
</body>
</html>