<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="x5-orientation" content="portrait | landscape" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true" />
    <meta name="full-screen" content="yes">
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>订制设计</title>
    <link rel="stylesheet" href="{CSS_PATH}common.css">
    <link rel="stylesheet" href="{CSS_PATH}index/cll-custom.css">
    <script src="{JS_PATH}rem.js"></script>
    <script src="{JS_PATH}iscroll.js"></script>
    <script>
        var myScroll;
        function loaded () {
            myScroll = new IScroll('#wrapper');
        }
    </script>
</head>
<body onload="loaded()">
    <div id="header">
        <img src="{IMG_PATH}cll_03.png" alt="">
    </div>

    <div id="wrapper">
        <div id="scroller">
            <!--ar体验 定制-->
            <ul class="cll-nav">
               <li>
                   <a href="" class="ar">
                       <img src="{IMG_PATH}cll_07.png" alt="">
                   </a>
               </li>
                <li>
                    <a href="" class="dingzhi">
                        <img src="{IMG_PATH}cll_09.png" alt="">
                    </a>
                </li>
            </ul>
            <!--灯具-->
            <div class="cll-section">
                <!--标题-->
                <div class="cll-title">
                    <img src="{IMG_PATH}cll_12.png" alt="">
                    <a href="">
                        <img src="{IMG_PATH}cll_14.png" alt="">
                    </a>
                </div>
                <!--内容-->
                <div class="cll-content">
                    {foreach $light as $v}
                    <a href="index.php?m=index&f=ar&imgurl={$v['imgurl']}&lid={$v['lid']}">
                        <img src="{$v['imgurl']}" alt="">
                        <p class="ptitle">{$v['cname']}</p>
                        <p class="penglish">{$v['ename']}</p>
                    </a>
                    {/foreach}

                </div>
            </div>

            <!--家饰-->
            <div class="cll-section">
                <!--标题-->
                <div class="cll-title">
                    <img src="{IMG_PATH}cll_22.png" alt="">
                    <a href="">
                        <img src="{IMG_PATH}cll_14.png" alt="">
                    </a>
                </div>
                <!--内容-->
                <div class="cll-content home">
                    {foreach $home as $v}
                    <a href="index.php?m=index&f=ar&imgurl={$v['imgurl']}&lid={$v['lid']}">
                        <img src="{$v['imgurl']}" alt="">
                        <p class="htitle">{$v['cname']}</p>
                        <p class="henglish">{$v['ename']}</p>
                    </a>
                    {/foreach}
                </div>
            </div>

            <!--沙发-->
            <div class="cll-section">
                <!--标题-->
                <div class="cll-title">
                    <img src="{IMG_PATH}cll_28.png" alt="">
                    <a href="">
                        <img src="{IMG_PATH}cll_14.png" alt="">
                    </a>
                </div>
                <!--内容-->
                <div class="cll-content sofa">
                    {foreach $sofa as $v}
                    <a href="index.php?m=index&f=ar&imgurl={$v['imgurl']}&lid={$v['lid']}">
                        <img src="{$v['imgurl']}" alt="">
                        <p class="ptitle stitle">{$v['cname']}</p>
                        <p class="penglish">{$v['ename']}</p>
                    </a>
                    {/foreach}

                </div>
            </div>

            <!--床-->
            <div class="cll-section">
                <!--标题-->
                <div class="cll-title">
                    <img src="{IMG_PATH}cll_34.png" alt="">
                    <a href="">
                        <img src="{IMG_PATH}cll_14.png" alt="">
                    </a>
                </div>
                <!--内容-->
                <div class="cll-bed">
                    {foreach $bed as $v}
                    <a href="index.php?m=index&f=ar&imgurl={$v['imgurl']}&lid={$v['lid']}">
                        <img src="{$v['imgurl']}" alt="">
                        <p class="btitle">{$v['cname']}</p>
                        <p class="benglish">{$v['ename']}</p>
                    </a>
                    {/foreach}
                </div>
            </div>

            <!--茶几-->
            <div class="cll-section">
                <!--标题-->
                <div class="cll-title">
                    <img src="{IMG_PATH}cll_40.png" alt="">
                    <a href="">
                        <img src="{IMG_PATH}cll_14.png" alt="">
                    </a>
                </div>
                <!--内容-->
                <div class="cll-tea">
                    {foreach $tea as $v}
                    <a href="index.php?m=index&f=ar&imgurl={$v['imgurl']}&lid={$v['lid']}">
                        <img src="{$v['imgurl']}" alt="">
                        <p class="btitle">{$v['cname']}</p>
                        <p class="benglish">{$v['ename']}</p>
                    </a>
                    {/foreach}
                </div>
            </div>

        </div>
    </div>

    <div id="footer">
        <a href="index.php">
            <img src="{IMG_PATH}but_09.png" alt="">
        </a>
        <a href="index.php?m=index&f=classify">
            <img src="{IMG_PATH}but_12.png" alt="">
        </a>
        <a href="index.php?m=index&f=custom" class="cll-active">
            <img src="{IMG_PATH}but_03.png" alt="">
            <span>定制设计</span>
        </a>
        <a href="index.php?m=index&f=personal">
            <img src="{IMG_PATH}but_06.png" alt="">
        </a>
    </div>
</body>
</html>