<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="x5-orientation" content="portrait | landscape" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true" />
    <meta name="full-screen" content="yes">
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>性别</title>
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/index/cy-sex.css">
    <script src="../../static/js/rem.js"></script>
    <script src="../../static/js/jquery.js"></script>
</head>
<body>
<header class="header">
    <a href="#">
        <img src="../../static/img/cy-return.png" alt="" class="return">
    </a>
    <img src="../../static/img/cy-xingbie.png" alt="">
</header>
<!--个人资料-->
<ul id="info" class="cy-info">
    <li class="info-list li-list">
            <img src="../../static/img/cy-boy.png" alt="">
            <div class="info-word">
                <span class="info-ch">男</span>
                <span class="info-en">male</span>
            </div>
            <!-- .slideOne -->
            <div class="slideThree">
                <input type="checkbox" value="None" id="slideOne" name="check" checked />
                <label for="slideOne"></label>
            </div>
            <!-- end .slideOne -->
    </li>
    <li class="info-list li-list">
            <img src="../../static/img/cy-girl.png" alt="">
            <div class="info-word">
                <span class="info-ch">女</span>
                <span class="info-en">female</span>
            </div>
            <div class="slideThree">
                <input type="checkbox" value="None" id="slideTwo" name="check" checked />
                <label for="slideTwo"></label>
            </div>
    </li>
    <li class="info-list li-list">
            <img src="../../static/img/cy-baomi.png" alt="">
            <div class="info-word">
                <span class="info-ch">保密</span>
                <span class="info-en">secret</span>
            </div>
            <div class="slideThree">
                <input type="checkbox" value="None" id="slideThree" name="check" checked />
                <label for="slideThree"></label>
            </div>
    </li>
</ul>
</body>
</html>
<script>

    $(function () {
        $(".slideThree >label").each(function (index,val) {
            $(val).click(function () {
                $(this).parent('.slideThree').toggleClass("xuanze");
            })
        })
        console.log($(".return"))
        $(".return").click(function () {
            history.go(-1);
        })

    })
</script>
