<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="x5-orientation" content="portrait | landscape" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true" />
    <meta name="full-screen" content="yes">
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>性别</title>
    <link rel="stylesheet" href="{CSS_PATH}common.css">
    <link rel="stylesheet" href="{CSS_PATH}index/cy-sex.css">
    <script src="{JS_PATH}rem.js"></script>
    <script src="{JS_PATH}jquery.js"></script>
    <script src="{JS_PATH}cy-sex.js"></script>
</head>
<body>
<header class="header">
    <a href="#">
        <img src="{IMG_PATH}cy-return.png" alt="" class="return">
    </a>
    <img src="{IMG_PATH}cy-xingbie.png" alt="">
    <span class="complete">完成</span>
</header>
<!--个人资料-->
<ul id="info" class="cy-info" sex="{$sex}">
    <li class="info-list li-list">
            <img src="{IMG_PATH}cy-boy.png" alt="">
            <div class="info-word">
                <span class="info-ch">男</span>
                <span class="info-en">male</span>
            </div>
            <div class="slideThree">
                <input type="radio" value="1" id="slideOne" name="sex"  />
                <label for="slideOne"></label>
            </div>
    </li>
    <li class="info-list li-list">
            <img src="{IMG_PATH}cy-girl.png" alt="">
            <div class="info-word">
                <span class="info-ch">女</span>
                <span class="info-en">female</span>
            </div>
            <div class="slideThree">
                <input type="radio" value="2" id="slideTwo" name="sex"  />
                <label for="slideTwo"></label>
            </div>
    </li>
    <li class="info-list li-list">
            <img src="{IMG_PATH}cy-baomi.png" alt="">
            <div class="info-word">
                <span class="info-ch">保密</span>
                <span class="info-en">secret</span>
            </div>
            <div class="slideThree">

                <input type="radio" value="3" id="slideThree" name="sex" />
                <label for="slideThree"></label>
            </div>
    </li>
</ul>
</body>
</html>
<script>
    $(function () {
        var input=3;
        $(".slideThree >label").each(function (index,val) {
            $(val).click(function () {
                input=$(this).prev().val()
//                console.log()
            })
        })



        $(".complete").click(function () {
//            console.log(input);
            $.ajax({
                url:"index.php?f=personal&a=sexcheck",
                type:"post",
                data:{
                    value:input
                },
                success:function (e) {
                    if(e=="ok"){
                        $("input[type=radio]").each(function (index,val) {
                            if($(val).val()==input){
                                $(val).attr("checked","checked")
                            }
                        })
                    }
                }
            })

        })
    })
</script>
