<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="x5-orientation" content="portrait | landscape" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true" />
    <meta name="full-screen" content="yes">
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>待付款</title>
    <link rel="stylesheet" href="{CSS_PATH}common.css">
    <link rel="stylesheet" href="{CSS_PATH}index/fh-payment.css">
    <script src="{JS_PATH}jquery.js"></script>
    <script src="{JS_PATH}rem.js"></script>
    <script src="{JS_PATH}iscroll.js"></script>
</head>
<body onload="loaded()">
<div CLASS="fh-nav">
    <img src="{IMG_PATH}fh-34.png" alt="">
</div>
<ul class="fh-title">
    <li>
        <img src="{IMG_PATH}fh-21.png" alt="">
    </li>
    <li>
        <a href="index.php?f=order&a=send&lid={$lid}">待发货</a>
    </li>
    <li>
        <a href="">待收货</a>
    </li>
    <li>
        <a href="">待评价</a>
    </li>
</ul>
<div id="wrapper">
    <div id="scroller">
        {foreach $data as $v}
        <div class="fh-con">
            <div class="fh-nub">
                <p>订单编号:<span>NO.{$v['ordernumber']}</span></p>
            </div>
            <div class="fh-sh">
                <div class="fh-img">
                    <img src="{$v['imgurl']}" alt="">
                </div>
                <div class="fh-js">
                    <h1>{$v['cname']}</h1>
                    <h2>{$v['ename']}</h2>
                    <div class="fh-color">
                        <div></div>
                        <h3>颜色:<span>单一色</span></h3>
                    </div>
                    <div class="fh-color fh-size">
                        <div></div>
                        <h3>规格: <span>88*88</span></h3>
                    </div>
                    <div class="fh-price">
                        <img src="{IMG_PATH}fh-24.png" alt="">
                        <h5>{$v['price']}</h5>
                    </div>
                </div>
            </div>
            <div class="fh-all">
                <p>合计&nbsp;&nbsp;<span> {$v['price']}</span><span class="fh-rmb">RMB</span></p>
                <div class="fh-tormb">
                    <img src="{IMG_PATH}fh-25.png" alt="">
                </div>
            </div>
        </div>
        {/foreach}
        <div class="fh-no">
            <img src="{IMG_PATH}fh-27.png" alt="">
        </div>
    </div>
</div>
</body>
</html>
<script>

    var myScroll;

    function loaded () {
        myScroll = new IScroll('#wrapper', { mouseWheel: true });
    }

</script>