<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="x5-orientation" content="portrait | landscape" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true" />
    <meta name="full-screen" content="yes">
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>注册</title>
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/index/fh-res.css">
    <script src="../../static/js/jquery.js"></script>
    <script src="../../static/js/rem.js"></script>
    <script src="../../static/js/fh-res.js"></script>
</head>
<body>
<div class="fh-nav">
    <img src="../../static/img/fh-5.png" alt="">
</div>
<div class="fh-con">
    <img src="../../static/img/fh-6.png" alt="" class="fh-tx">
    <form action="" class="fh-bd">
        <input type="text" name="name" placeholder="用户名，2~8个字符" autocomplete="off">
        <img src="../../static/img/fh-7.png" alt="" class="fh-xf">
        <div class="fh-ts"></div>
        <div class="fh-ts2">用户名格式错误</div>

        <input type="text" name="tel" placeholder="请输入您的手机号" autocomplete="off">
        <img src="../../static/img/fh-16.png" alt="" class="fh-sj">
        <div class="fh-ts3"></div>

        <input type="text" name="yzm" placeholder="请输入验证码" autocomplete="off">
        <img src="../../static/img/fh-17.png" alt="" class="fh-yz">
        <div class="fh-yzm">发送验证码</div>

        <input type="password" name="pass" placeholder="请输入您的密码" autocomplete="off">
        <img src="../../static/img/fh-8.png" alt="" class="fh-s">
        <img src="../../static/img/fh-9.png" alt="" class="fh-yj">

        <label>
            <input type="radio">我已阅读并接受<span>版权声明</span>条款
        </label>
        <div class="fh-submit"></div>
        <div class="fh-cir">
            <div></div>
            <p>&nbsp;已有账号，去<a href="">登录</a></p>
        </div>

    </form>
</div>

<div class="fh-click">
    <!--加载中-->
    <div class="fh-loading">
        <img src="../../static/img/fh-14.png" alt="">
    </div>
    <!--登录失败-->
    <div class="fh-fail">
        <img src="../../static/img/fh-12.png" alt="">
        <a href="" class="fh-again"></a>
    </div>
    <!--登录成功-->
    <div class="fh-success">
        <img src="../../static/img/fh-13.png" alt="">
        <a href="" class="fh-go"></a>
    </div>
</div>
</body>
</html>