<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <meta name="x5-orientation" content="portrait | landscape" />
	    <meta name="screen-orientation" content="portrait">
	    <meta name="x5-fullscreen" content="true" />
	    <meta name="full-screen" content="yes">
	    <meta name="format-detection" content="telephone=no, email=no" />
		<title>搜索完成</title>
		<link rel="stylesheet" href="../../static/css/common.css" />
		<link rel="stylesheet" href="../../static/css/index/H-finish.css" />
		<script src="../../static/js/rem.js"></script>
		<script src="../../static/js/iscroll.js"></script>
	</head>
	<body>
		<header>
			<div class="H-htop">
				<a href="javascript:;">
					<img src="../../static/img/H-back.png" class="back"/>
				</a>			
				<img src="../../static/img/H-s1.png" class="head"/>
			</div>			
			<div class="H-serach">
				<input type="text" name="serach"/>
				<img src="../../static/img/H-s2.png"/>
				<img src="../../static/img/H-s3.png"/>
				<img src="../../static/img/H-s4.png" class="H-icon"/>
			</div>
		</header>
		
		<div id="wrapper">
			<div id="scroller">
				<div class="H-history">
					<div class="H-his-top">
						<p>SEARCH HISTORY</p>
						<p>
							<img src="../../static/img/H-s22.png"/>
							<span>搜索历史</span>
						</p>
					</div>
					<ul class="H-his-bottom">
						<li>
							<p>榻榻米床</p>
							<p>布艺沙发</p>
						</li>
						<li>
							<p>北欧布艺</p>
							<p>新古典风格</p>
							<p>新中式风格</p>
						</li>
						<li>
							<p>罗布林卡</p>
							<p>办公家具</p>
						</li>
					</ul>
				</div>
				
				<!--新品推荐开始-->
				<div class="H-commend">
					<div class="H-com-top">
						<p>RECOMMENDED</p>
						<p>
							<img src="../../static/img/H-s5.png"/>
							<span>新品推荐</span>
						</p>
					</div>
					<div class="H-com-list">
						<img src="../../static/img/H-s6.png"/>
						<img src="../../static/img/H-s7.png"/>
						<img src="../../static/img/H-s8.png"/>
						<img src="../../static/img/H-s9.png"/>
						<img src="../../static/img/H-s10.png"/>
						<img src="../../static/img/H-s11.png"/>
					</div>
					<div class="H-com-con">
						<div class="con">
							<div class="con-top">
								<div class="left">
									<img src="../../static/img/H-s16.png"/>
								</div>
								<div class="right">
									<h3>MINIMALIST</h3>
									<h4>北欧极简风</h4>
									<img src="../../static/img/H-s17.png"/>
									<p>以简单到极致为追求感官上简约整洁品味更为优雅……</p>
								</div>
							</div>
							<ul class="con-bottom">
								<li>
									<img src="../../static/img/H-s12.png"/>
									<span>3245</span>
								</li>
								<li>
									<img src="../../static/img/H-s13.png"/>
									<span>2342</span>
								</li>
								<li>
									<img src="../../static/img/H-s14.png"/>
									<span>4352</span>
								</li>
								<li>
									<img src="../../static/img/H-s15.png"/>
									<span>89</span>
								</li>
							</ul>
						</div>
						<div class="con">
							<div class="con-top">
								<div class="left">
									<img src="../../static/img/H-s16.png"/>
								</div>
								<div class="right">
									<h3>MINIMALIST</h3>
									<h4>北欧极简风</h4>
									<img src="../../static/img/H-s17.png"/>
									<p>以简单到极致为追求感官上简约整洁品味更为优雅……</p>
								</div>
							</div>
							<ul class="con-bottom">
								<li>
									<img src="../../static/img/H-s12.png"/>
									<span>3245</span>
								</li>
								<li>
									<img src="../../static/img/H-s13.png"/>
									<span>2342</span>
								</li>
								<li>
									<img src="../../static/img/H-s14.png"/>
									<span>4352</span>
								</li>
								<li>
									<img src="../../static/img/H-s15.png"/>
									<span>89</span>
								</li>
							</ul>
						</div>
						<div class="con">
							<div class="con-top">
								<div class="left">
									<img src="../../static/img/H-s16.png"/>
								</div>
								<div class="right">
									<h3>MINIMALIST</h3>
									<h4>北欧极简风</h4>
									<img src="../../static/img/H-s17.png"/>
									<p>以简单到极致为追求感官上简约整洁品味更为优雅……</p>
								</div>
							</div>
							<ul class="con-bottom">
								<li>
									<img src="../../static/img/H-s12.png"/>
									<span>3245</span>
								</li>
								<li>
									<img src="../../static/img/H-s13.png"/>
									<span>2342</span>
								</li>
								<li>
									<img src="../../static/img/H-s14.png"/>
									<span>4352</span>
								</li>
								<li>
									<img src="../../static/img/H-s15.png"/>
									<span>89</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>						
	</body>
</html>
<script type="text/javascript">
	var myScroll;
    window.onload=function() {
        myScroll = new IScroll('#wrapper');
    }
</script>