<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <meta name="x5-orientation" content="portrait | landscape" />
	    <meta name="screen-orientation" content="portrait">
	    <meta name="x5-fullscreen" content="true" />
	    <meta name="full-screen" content="yes">
	    <meta name="format-detection" content="telephone=no, email=no" />
		<title>搜索</title>
		<link rel="stylesheet" href="{CSS_PATH}common.css" />
		<link rel="stylesheet" href="{CSS_PATH}index/H-search.css" />
		<script src="{JS_PATH}jquery.js"></script>
		<script src="{JS_PATH}rem.js"></script>
		<script src="{JS_PATH}iscroll.js"></script>
		<script src="{JS_PATH}angular.js"></script>
	</head>
	<body ng-app="app">
		<div class="H-process" ng-controller="ctrl">
			<form class="H-search" action="index.php?m=index&f=search&a=result" method="post">
				<input type="text" name="search" class="search"/>
				<img src="{IMG_PATH}H-s18.png" class="none"/>
				<img src="{IMG_PATH}H-s3.png"/>
				<input type="submit" class="submit"/>
				<img src="{IMG_PATH}H-s4.png" class="H-icon"/>
			</form>
			<ul class="H-list" >
				<li>
					<div class="H-list-left">
						<img src="{IMG_PATH}H-s19.png"/>
					</div>
					<div class="H-list-right">
						<span>欧洲实木</span><span class="furniture">家具</span>
						<img class="phone" src="{IMG_PATH}H-s20.png"/>
						<img class="line" src="{IMG_PATH}H-s21.png"/>
						<p>SOLID WOOD FURNITURE IN EUROPE</p>
					</div>
				</li>
				<li>
					<div class="H-list-left">
						<img src="{IMG_PATH}H-s19.png"/>
					</div>
					<div class="H-list-right">
						<span>新中式</span><span class="furniture">家具</span>
						<img class="phone" src="{IMG_PATH}H-s20.png"/>
						<img class="line" src="{IMG_PATH}H-s21.png"/>
						<p>NEW CHINESE STYLE FURNITURE</p>
					</div>
				</li>
				<li>
					<div class="H-list-left">
						<img src="{IMG_PATH}H-s19.png"/>
					</div>
					<div class="H-list-right">
						<span>大果紫檀</span><span class="furniture">家具</span>
						<img class="phone" src="{IMG_PATH}H-s20.png"/>
						<img class="line" src="{IMG_PATH}H-s21.png"/>
						<p>FRUIT RED SANDALWOOD FURNITURE</p>
					</div>
				</li>
				<li>
					<div class="H-list-left">
						<img src="{IMG_PATH}H-s19.png"/>
					</div>
					<div class="H-list-right">
						<span>美式</span><span class="furniture">家具</span>
						<img class="phone" src="{IMG_PATH}H-s20.png"/>
						<img class="line" src="{IMG_PATH}H-s21.png"/>
						<p>AMERICAN FURNITURE TIDE</p>
					</div>
				</li>
			</ul>
		</div>

		<script>
			$('.search').focus(function () {
				$('.none').css({
					'display':'none'
				});
            })

			angular.module('app',[]).controller('ctrl',function ($scope, $http) {
                $http({
                    method: 'GET',
                    url: 'index.php?m=index&f=search&a=result'
                }).then(function successCallback(response) {
                    console.log(response.$result)
//                    $scope.names = response.data;
                }, function errorCallback(response) {
                    console.log(123);
                });
            })
		</script>
	</body>
</html>