<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <meta name="x5-orientation" content="portrait | landscape" />
	    <meta name="screen-orientation" content="portrait">
	    <meta name="x5-fullscreen" content="true" />
	    <meta name="full-screen" content="yes">
	    <meta name="format-detection" content="telephone=no, email=no" />
		<title>搜索完成</title>
		<link rel="stylesheet" href="../../static/css/common.css" />
		<link rel="stylesheet" href="../../static/css/index/H-serach.css" />
		<script src="../../static/js/rem.js"></script>
	</head>
	<body>
		<header>
			<a href="javascript:;">
				<img src="../../static/img/H-back.png" class="back"/>
			</a>			
			<img src="../../static/img/H-s1.png" class="head"/>
			<div class="H-serach">
				<input type="text" name="serach"/>
				<img src="../../static/img/H-s2.png"/>
				<img src="../../static/img/H-s3.png"/>
				<img src="../../static/img/H-s4.png" class="H-icon"/>
			</div>
		</header>
	</body>
</html>
