<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <meta name="x5-orientation" content="portrait | landscape" />
	    <meta name="screen-orientation" content="portrait">
	    <meta name="x5-fullscreen" content="true" />
	    <meta name="full-screen" content="yes">
	    <meta name="format-detection" content="telephone=no, email=no" />
		<title>搜索完成</title>
		<link rel="stylesheet" href="../../static/css/common.css" />
		<link rel="stylesheet" href="../../static/css/index/H-search.css" />
		<script src="../../static/js/rem.js"></script>
		<script src="../../static/js/iscroll.js"></script>
	</head>
	<body>	
		<div class="H-process">	
			<div class="H-serach">
				<input type="text" name="serach"/>
				<img src="../../static/img/H-s18.png"/>
				<img src="../../static/img/H-s3.png"/>
				<img src="../../static/img/H-s4.png" class="H-icon"/>
			</div>
			<ul class="H-list">
				<li>
					<div class="H-list-left">
						<img src="../../static/img/H-s19.png"/>
					</div>
					<div class="H-list-right">
						<span>欧洲实木</span><span class="furniture">家具</span>
						<img class="phone" src="../../static/img/H-s20.png"/>
						<img class="line" src="../../static/img/H-s21.png"/>
						<p>SOLID WOOD FURNITURE IN EUROPE</p>
					</div>
				</li>
				<li>
					<div class="H-list-left">
						<img src="../../static/img/H-s19.png"/>
					</div>
					<div class="H-list-right">
						<span>新中式</span><span class="furniture">家具</span>
						<img class="phone" src="../../static/img/H-s20.png"/>
						<img class="line" src="../../static/img/H-s21.png"/>
						<p>NEW CHINESE STYLE FURNITURE</p>
					</div>
				</li>
				<li>
					<div class="H-list-left">
						<img src="../../static/img/H-s19.png"/>
					</div>
					<div class="H-list-right">
						<span>大果紫檀</span><span class="furniture">家具</span>
						<img class="phone" src="../../static/img/H-s20.png"/>
						<img class="line" src="../../static/img/H-s21.png"/>
						<p>FRUIT RED SANDALWOOD FURNITURE</p>
					</div>
				</li>
				<li>
					<div class="H-list-left">
						<img src="../../static/img/H-s19.png"/>
					</div>
					<div class="H-list-right">
						<span>美式</span><span class="furniture">家具</span>
						<img class="phone" src="../../static/img/H-s20.png"/>
						<img class="line" src="../../static/img/H-s21.png"/>
						<p>AMERICAN FURNITURE TIDE</p>
					</div>
				</li>
			</ul>
		</div>
	</body>
</html>