<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <meta name="x5-orientation" content="portrait | landscape" />
	    <meta name="screen-orientation" content="portrait">
	    <meta name="x5-fullscreen" content="true" />
	    <meta name="full-screen" content="yes">
	    <meta name="format-detection" content="telephone=no, email=no" />
		<title>搜索</title>
		<link rel="stylesheet" href="{CSS_PATH}common.css" />
		<link rel="stylesheet" href="{CSS_PATH}index/H-search.css" />
		<script src="{JS_PATH}jquery.js"></script>
		<script src="{JS_PATH}rem.js"></script>
		<script src="{JS_PATH}iscroll.js"></script>
	</head>
	<body>
		<div class="H-process">
			<form class="H-search" action="index.php?m=index&f=search&a=finish" method="post">
				<input type="text" name="search" class="search"/>
				<img src="{IMG_PATH}H-s18.png" class="none"/>
				<img src="{IMG_PATH}H-s3.png"/>
				<input type="submit" class="submit"/>
				<img src="{IMG_PATH}H-s4.png" class="H-icon"/>
			</form>
			<ul class="H-list" >
			</ul>
		</div>
		<script>
			$('.search').focus(function () {
				$('.none').css({
					'display':'none'
				});
            });

            $('.search').on('input',function (e){
                var result=e.originalEvent.target.value;
                $.ajax({
                    type: "post",
					dataType:"json",
                    url: "index.php?m=index&f=search&a=result",
					data:{
                        res:result
					},
					success: function(e){
						e.forEach(function (val,index) {
							li=$('<li>');							
							li.html(`<a href='index.php?m=index&f=goods&lid=${
							val.lid
						}'>
								<div class="H-list-left">
						<img src="{IMG_PATH}H-s19.png"/>
					</div>
					<div class="H-list-right">
						<span>${
							val.cname
						}</span><span class="furniture">家具</span>
						<img class="phone" src="{IMG_PATH}H-s20.png"/>
						<img class="line" src="{IMG_PATH}H-s21.png"/>
						<p>${
                                val.ename
						}</p>
					</div></a>`).appendTo($('.H-list'));
                     })			
						}
				});
           })
		</script>
	</body>
</html>